
    body {
        font-family: Arial, sans-serif;
        background-color: #a7cf8e;
        padding: 20px;
    }
    h1 {
        color: #333;
    }
    p {
        color: #666;
        font-size: 13px;
    }
    